.wrapper {
    a {
        color: #fff;
        text-decoration: none;
    }

    .appTitle {
        flex-grow: 1;

        @media only screen and (max-width: 400px) {
            display: none;
        }
    }
}
