.wrapper {
    .container {
        display: flex;
        align-items: center;

        .left {
            flex: 0.55;
        }

        .right {
            flex: 0.5;
            h5 {
                margin-bottom: 16px;
            }

            p {
                margin-bottom: 16px;
            }

            button {
                margin-right: 16px;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }

    .preview {
        text-align: center;
        margin-top: 32px;
        img {
            max-width: 80%;
        }
    }
}
