.wrapper {
    .container {
        display: flex;
        align-items: center;

        .left {
            width: 50%;
        }

        .right {
            width: 50%;
            h5 {
                margin-bottom: 16px;
            }

            p {
                margin-bottom: 16px;
            }

            button {
                margin-right: 16px;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }

    .preview {
        text-align: center;
        margin-top: 32px;
        img {
            max-width: 80%;
        }
    }

    @media only screen and (max-width: 870px) {
        .container {
            flex-direction: column;

            .left {
                margin-bottom: 16px;
                width: 100%;
                display: flex;
                justify-content: center;
            }

            .right {
                width: 100%;

                .buttons {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }

    @media only screen and (max-width: 400px) {
        .container {
            .right {
                .buttons {
                    display: block;
                    margin: 0 -16px;
                    button {
                        margin: 8px;
                    }
                }
            }
        }
    }
}
